<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
      <header class="row jumbotron">
        <div class="col-12 text-center">
          <h1 class="display-3">UPTBAL</h1>
          <p class="lead">App Web hecha con Rails</p>
        </div>
      </header>
    	<%= yield %>
	  </div>
  </body>
</html>
